<div class="container">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 mt-4">
        <div class="col d-flex justify-content-center">
            <div class="card mt-4" *ngIf="product" style="width: 20rem;">
                <h5 class="card-text">{{ product.name }}</h5>
                <img class="card-img-top" src={{product.img}} alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{ product.details }}</h5>
                    <p class="card-text">{{ product.price | currency: "EUR" }}</p>
                    <a (click)="addToCart()" class="btn btn-success">Order</a>
                </div>
            </div>
        </div>
    </div>
</div>