<div class="container">
    <div class="row">
        <div class="card" *ngFor="let item of items" style="width: 9rem;">
            <div class="card-body">
                <img class="card-img-top" src={{item.img}} alt="Card image cap">
                <h5 class="card-title">{{ item.name }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ item.price | currency: "EUR" }}</h6>
                <div class="d-flex justify-content-between ps-3 pe-2 border-top">

                </div>


            </div>
        </div>
        <p class="fw-bold fs-5">Total Amount:</p>
        <p>{{total | currency:"EUR" }}</p>
    </div>
</div>

<div class="d-flex justify-content-between ps-3 pe-2 border-top">
    <p class="fw-bold fs-5">Service:</p>
    <p>{{total * 0.10 | currency: "EUR"}}</p>
    <p class="fw-bold fs-5">Amount including Discount:</p>
    <p *ngIf="total > 40">{{total * 0.85 | currency: "EUR"}}</p>


</div>


<h1 class="h1 text-center mt-5 mb-3">Order Form</h1>
<div class="container">
    <form class="d-flex flex-column justify-content-center align-items-center" [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
        <input class="m-2 p-2" type="text" placeholder="Your Name" formControlName="name">
        <input class="m-2 p-2" type="text" placeholder="Your Address" formControlName="address">
        <button class="btn btn-primary text-center mt-3 mb-5" type="submit">Purchase</button>
    </form>
</div>