<div class="home">
    <img class="home-img" src="assets/img/home.jpg">
    <div class="home-text-container d-flex flex-column justify-content-center align-items-center">
        <div class="home-headline">Ristorante Il Gamberto Rosso</div>
        <div class="home-text mb-5">Delivering great food for more then 18 years!</div>
        <div class="button-container d-flex align-items-center">
            <button type="button" class="btn btn-secondary m-2 p-3" routerLink="/product-list">Our Menu</button>
            <button type="button" class="btn btn-secondary m-2 p-3">Book A Table</button>
        </div>
    </div>

</div>